<div class="role-associate" ng-controller="RoleAssociateController">
	<div class="row">
		<div class="col-md-12 search-header">
			<div class="header row padding background-app-blue color-white">
				<span class="h4"><span ng-bind="'ASSOCIATE_ROLE' | translate"></span></span>
			</div>
		</div>
		<div fixed-container fixed-attr="{ orientation: 'BOTTOM' }">
			<div class="row">
				<form name="roleForm" class="screen-only">
					<div class="col-md-12 job-content padding">
						<div class="col-md-12"><span class="error" ng-bind="errormessage"></span></div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'COMPANY_NAME' | translate"></span></label>
								<auto-complete ng-model="data.company_id" display-field="name" value-field="id" search-url="api/company/listCompany" ng-change="getRoleAssociationById(data.company_id)"></auto-complete>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showCompanyDetails = 'true'" ng-click="showCompanyDetails = !showCompanyDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span ng-bind="'ASSOCIATE_ROLE' | translate">Associate Role</span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showCompanyDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showCompanyDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-horz-padding padding" ng-show="showCompanyDetails">				
							<div class="row vertical-margin no-bottom-margin" ng-repeat="role in config.roleItems">
								<div class="col-md-12">
									<div class="checkbox col-md-2 no-margin">
										<label ng-if="role.view">
											<input type="checkbox" ng-model="role.selected">
											<span ng-bind="role.name | translate"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-align-right background-color-white lead-button-bar" fixed-bar>
							<button class="btn btn-primary" ng-click="goBack()" type="button"><span ng-bind="'CANCEL' | translate"></span></button>
							<button class="btn btn-primary" ng-click="saveCompanyRoleAssociations()"><span ng-bind="'SAVE' | translate"></span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	