<div class="roles row" ng-controller="CompanyDetailController">
	<div class="col-md-12">
		<div class="row">
			<div class="header col-md-12 padding background-app-blue color-white">
				<span class="h4"><span ng-bind="'CREATE_EDIT_COMPANY' | translate"></span></span>
			</div>
		</div>
		<div class="row button-bar">
			<div class="col-md-12 padding">
				<button type="button" class="btn btn-primary" ng-if="data.id" ng-click="activateCompany()">
					<span ng-bind="'ACTIVATE' | translate"></span>
				</button>
			</div>
		</div>
		<div class="row" fixed-container fixed-attr="{ orientation: 'BOTTOM' }">
			<div class="company-wrapper">
				<form name="companyForm" class="screen-only">
					<div class="company-content col-md-12 no-horz-padding">
						<div class="col-md-12"><span class="error" ng-bind="errormessage"></span></div>
						<div class="col-md-12 no-padding">
						<div class="col-md-12"><span class="error" ng-bind="errormessage"></span></div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'COMPANY_NAME' | translate"></span></label>
								<input class="form-control" type="text" ng-model="data.name" maxlength="256" ng-required="true">
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'COMPANY_EMAIL' | translate"></span></label>
								<input class="form-control" type="text" ng-model="data.email"  maxlength="128" ng-required="true">
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding" >
							<div class="section-header padding h4 background-app-tint-orange">
								<span ng-bind="'CONTACT_DETAIL' | translate"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'ADDRESS_LINE1' | translate"></span></label>
								<textarea class="form-control no-resize" ng-model="data.address_line1" maxlength="256" ng-required="true"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'ADDRESS_LINE2' | translate"></span></label>
								<textarea class="form-control no-resize" ng-model="data.address_line2" maxlength="256"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'ADDRESS_LINE3' | translate"></span></label>
								<textarea class="form-control no-resize" ng-model="data.address_line3" maxlength="256"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'CITY' | translate"></span></label>
								<input class="form-control" ng-model="data.city" maxlength="128" ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'STATE' | translate"></span></label>
								<input class="form-control" ng-model="data.state" maxlength="128" ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'COUNTRY' | translate"></span></label>
								<input class="form-control" ng-model="data.country" maxlength="128" ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'POSTAL_CODE' | translate"></span></label>
								<input class="form-control" ng-model="data.postalcode" maxlength="20">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'PHONE1' | translate"></span></label>
								<input class="form-control" ng-model="data.phone1" maxlength="30" ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'PHONE2' | translate"></span></label>
								<input class="form-control" ng-model="data.phone2" maxlength="30">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'MOBILE' | translate"></span></label>
								<input class="form-control" ng-model="data.mobile" maxlength="30">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class=""><span ng-bind="'FAX' | translate"></span></label>
								<input class="form-control" ng-model="data.fax" maxlength="30">
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showActivationDetails = 'true'" ng-click="showActivationDetails = !showActivationDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span ng-bind="'ACTIVATION_DETAIL' | translate"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showActivationDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showActivationDetailss"></i>
							</div>
						</div>
						<div class="col-md-12 no-horz-padding padding" ng-show="showActivationDetails">
							<div class="no-bottom-margin">
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'ACTIVATION_KEY' | translate"></span></label>
										<input class="form-control" ng-model="data.activation_key" maxlength="30" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'ACTIVATION_FROM' | translate"></span></label>
										<input class="form-control" ng-model="data.activation_from" maxlength="30" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'ACTIVATION_TO' | translate"></span></label>
										<input class="form-control" ng-model="data.activation_to" maxlength="30" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'DATABASE_HOST' | translate"></span></label>
										<input class="form-control" ng-model="data.host" maxlength="30" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'DATABASE_NAME' | translate"></span></label>
										<input class="form-control" ng-model="data.name" maxlength="30" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class=""><span ng-bind="'DATABASE_PASSWORD' | translate"></span></label>
										<input class="form-control" ng-model="data.auth" maxlength="30" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-align-right background-color-white" fixed-bar>
							<button class="btn btn-primary" ng-click="goBack()" type="button"><span ng-bind="'CANCEL' | translate"></span></button>
							<button class="btn btn-primary" ng-click="saveRole()"><span ng-bind="'SAVE' | translate"></span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	