<div class="opportunities" ng-controller="OpportunitiesDetailController">
	<div class="row">
		<div class="col-md-12 job-header">
			<div class="job-header row padding background-app-blue color-white">
				<span class="h4" translate="CREATE_EDIT_OPPORTUNITY"></span>
			</div>
		</div>
		<div fixed-container fixed-attr="{ orientation: 'BOTTOM' }">
			<div class="row">
				<form name="jobForm" class="screen-only">
					<div class="col-md-12 action-bar padding horz-margin">
						<button type="button" class="btn btn-primary" ng-click="goBack()" translate="BACK"></button>
						<button type="button" class="btn btn-primary" ng-click="submitOpportunity()" translate="{{submitButton}}" ng-show="!!data.id && data.status != 'Hold' && data.status != 'Won' && data.status != 'Lost'"></button>
						<button type="button" class="btn btn-primary" ng-click="holdOpportunity()" translate="{{data.status == 'Hold' ? 'UNHOLD_OPPORTUNITY' : 'HOLD_OPPORTUNITY'}}" ng-show="!!data.id && data.status != 'Won' && data.status != 'Lost'"></button>
						<button type="button" class="btn btn-primary" ng-click="backToNegotiation()" translate="BACK_TO_NEGOTIATION" ng-show="!!data.id && (data.status == 'Won' || data.status == 'Lost')"></button>
						<button type="button" class="btn btn-primary" ng-click="wonOpportunity()" translate="WON" ng-show="!!data.id && data.status == 'Negotiation'"></button>
						<button type="button" class="btn btn-primary" ng-click="lostOpportunity()" translate="LOST" ng-show="!!data.id && data.status == 'Negotiation'"></button>
					</div>
					<div class="col-md-12 job-content padding">
						<div class="col-md-12"><span class="error" ng-bind="errormessage"></span></div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="OPPORTUNITY_ID"></label>
								<input class="form-control" type="text" id="lead_id" ng-model="data.id" disabled field-security="leads" field-security-data-id="data.id">
							</div>
						</div>
						<div class="col-md-4" ng-show="data.assignedTo.assignedToUserId">
							<div class="form-group">
								<label class="">Assigned To</label>
								<select class="form-control" ng-options="user.id as user.name for user in usersList" ng-model="data.assignedTo.assignedToUserId" field-security="leads" field-security-data-id="data.id" disabled></select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="STATUS"></label>
								<input class="form-control" ng-model="data.status" field-security="leads" field-security-data-id="data.id" disabled>
							</div>
						</div>
						<div class="col-md-4" ng-show="data.status == 7">
							<div class="form-group">
								<label class="" for="lostreason">Lost Reason</label>
								<input class="form-control no-resize" type="text" id="lostreason" ng-model="data.lostreason" field-security="leads" field-security-data-id="data.id" material-upgrade disabled>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showCompanyDetails = 'true'" ng-click="showCompanyDetails = !showCompanyDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="COMPANY_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showCompanyDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showCompanyDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showCompanyDetails">				
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="company_name" translate="COMPANY_NAME"></label>
									<input class="form-control" type="text" id="company_name" ng-model="data.lead_company.lead_company_name" field-security="leads" field-security-data-id="data.id" material-required material-upgrade ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="industry" translate="INDUSTRY"></label>
									<input class="form-control" type="text" id="industry" ng-model="data.lead_company.industry" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="industrydescription" translate="INDUSTRY_DESCRIPTION"></label>
									<textarea class="form-control no-resize" type="text" id="industrydescription" ng-model="data.lead_company.description" field-security="leads" field-security-data-id="data.id" material-upgrade ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)"></textarea>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="contactperson" translate="CONTACT_PERSON"></label>
									<input class="form-control" type="text" id="contactperson" ng-model="data.lead_company.contact_person" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="designation" translate="DESCRIPTION"></label>
									<input class="form-control" type="text" id="designation" ng-model="data.lead_company.designation" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="phone" translate="PHONE"></label>
									<input class="form-control" type="text" id="phone" ng-model="data.lead_company.phone1" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address1" translate="ADDRESS_LINE1"></label>
									<input class="form-control no-resize" type="text" id="address1" ng-model="data.lead_company.address_line1" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address2" translate="ADDRESS_LINE2"></label>
									<input class="form-control no-resize" type="text" id="address2" ng-model="data.lead_company.address_line2" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address2" translate="ADDRESS_LINE3"></label>
									<input class="form-control no-resize" type="text" id="address2" ng-model="data.lead_company.address_line3" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="city" translate="CITY"></label>
									<input class="form-control no-resize" type="text" id="city" ng-model="data.lead_company.city" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="state" translate="STATE"></label>
									<input class="form-control no-resize" type="text" id="state" ng-model="data.lead_company.state" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="country" translate="COUNTRY"></label>
									<input class="form-control no-resize" type="text" id="country" ng-model="data.lead_company.country" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control no-resize" type="text" ng-model="company_lat_long" field-security="leads" field-security-data-id="data.id" ng-disabled="true">
										<span type="button" class="btn btn-primary input-group-addon" ng-click="locateOnMap()">Locate</span>
									</div>
								</div>
							</div>
		                    <div class="col-md-4">
								<div class="form-group">
									<label class="" for="mailid" translate="MAILID"></label>
									<input class="form-control no-resize" type="text" id="mailid" ng-model="data.lead_company.mailid" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="website" translate="WEBSITE"></label>
									<input class="form-control no-resize" type="text" id="website" ng-model="data.lead_company.website" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showLeadsDetails = 'true'" ng-click="showLeadsDetails = !showLeadsDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="LEAD_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showLeadsDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showLeadsDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showLeadsDetails">		
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="reference">Reference</label>
									<input class="form-control no-resize" type="text" id="reference" ng-model="data.reference" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="source">Source</label>
									<input class="form-control no-resize" type="text" id="source" ng-model="data.source" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="additionalinfo">Additional Information</label>
									<input class="form-control no-resize" type="text" id="additionalinfo" ng-model="data.additionalinfo" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="createddate">Created Date</label>
									<input class="form-control no-resize" type="text" id="createddate" ng-model="data.createddate" field-security="leads" field-security-data-id="data.id" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin"  ng-init="showOtherDetails = 'true'" ng-click="showOtherDetails = !showOtherDetails" ng-show="data.status > 3">
							<h6 class="section-header">
								<span>Contacted Detail</span>
								<i class="material-icons margin-left-auto"  ng-if="!showOtherDetails">&#xE5CF;</i>
								<i class="material-icons margin-left-auto"  ng-if="showOtherDetails">&#xE5CE;</i>
							</h6>
						</div>
						<div class="col-md-12" ng-show="showOtherDetails && data.status > 2">
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="contacteddate">Contacted Date</label>
									<input class="form-control no-resize" type="text" id="contacteddate" ng-model="data.contacteddate" field-security="leads" field-security-data-id="data.id" material-date material-date-position="top" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="proposalnumber">Proposal Number</label>
									<input class="form-control no-resize" type="text" id="proposalnumber" ng-model="data.proposalnumber" field-security="leads" field-security-data-id="data.id" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="proposalsubmitdate">Proposal Submit Date</label>
									<input class="form-control no-resize" type="text" id="proposalsubmitdate" ng-model="data.proposalsubmitdate" field-security="leads" field-security-data-id="data.id" material-date material-date-position="top" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin"  ng-init="showFollowupDetails = 'true'" ng-click="showFollowupDetails = !showFollowupDetails" ng-show="followup">
							<h6 class="section-header">
								<span>Followup Detail</span>
								<i class="material-icons margin-left-auto"  ng-if="!showFollowupDetails">&#xE5CF;</i>
								<i class="material-icons margin-left-auto"  ng-if="showFollowupDetails">&#xE5CE;</i>
							</h6>
						</div>
						<div class="col-md-12" ng-show="showFollowupDetails && followup">
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="followupthrough">Followup Through</label>
									<input class="form-control no-resize" type="text" id="followupthrough" ng-model="followup.followupthrough" field-security="leads" field-security-data-id="data.id" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="followupdescription">Followup Description</label>
									<input class="form-control no-resize" type="text" id="followupdescription" ng-model="followup.followupdescription" field-security="leads" field-security-data-id="data.id" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="followupdate">Followup Date</label>
									<input class="form-control no-resize" type="text" id="followupdate" ng-model="followup.followupdate" field-security="leads" field-security-data-id="data.id" material-date material-date-position="top" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="followupstatus">Followup Status</label>
									<input class="form-control no-resize" type="text" id="followupstatus" ng-model="followup.status" field-security="leads" field-security-data-id="data.id" material-upgrade disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="resultoffollwup">Result of Followup</label>
									<input class="form-control no-resize" type="text" id="resultoffollwup" ng-model="followup.resultoffollwup" field-security="leads" field-security-data-id="data.id" material-upgrade disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="totalfollwup">Total No.Of Followup</label>
									<input class="form-control no-resize" type="text" id="totalfollwup" ng-model="followup.total" field-security="leads" field-security-data-id="data.id" material-upgrade disabled>
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showTaskDetails = 'true'" ng-click="showTaskDetails = !showTaskDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="OPEN_TASK_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showTaskDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showTaskDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showTaskDetails">	
							<div class="col-md-12 text-align-right lead-button-bar">
								<button class="btn btn-primary" ng-click="openCreateTask()" translate="CREATE_TASK"></button>
							</div>
							<div class="col-md-12 colored-table">
								<table class="table">
									<thead>
										<tr>
											<th translate="TITLE"></th>
											<th translate="DUE_DATE"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in openTaskDetails" ng-click="openTaskDetail(task)" class="cursor-pointer">
											<td ng-bind="task.title"></td>
											<td ng-bind="task.due_date"></td>
										</tr>
										<tr ng-show="!openTaskDetails || openTaskDetails.length == 0"><td colspan="2" translate="NO_DATA_AVAILABLE"></td></tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showClosedTaskDetails = 'true'" ng-click="showClosedTaskDetails = !showClosedTaskDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="CLOSED_TASK_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showClosedTaskDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showClosedTaskDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showClosedTaskDetails">	
							<div class="col-md-12 colored-table">
								<table class="table">
									<thead>
										<tr>
											<th translate="TITLE"></th>
											<th translate="DUE_DATE"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in closedTaskDetails" ng-click="openTaskDetail(task)" class="cursor-pointer">
											<td ng-bind="task.title"></td>
											<td ng-bind="task.due_date"></td>
										</tr>
										<tr ng-show="!closedTaskDetails || closedTaskDetails.length == 0"><td colspan="2" translate="NO_DATA_AVAILABLE"></td></tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12 text-align-right background-color-white lead-button-bar" fixed-bar>
							<button class="btn btn-primary" ng-click="goBack()" type="button" translate="CANCEL"></button>
							<button class="btn btn-primary" ng-click="saveLead()" translate="SAVE"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	