<div class="leads" ng-controller="LeadsDetailController">
	<div class="row">
		<div class="col-md-12 job-header">
			<div class="job-header row padding background-app-blue color-white">
				<span class="h4" translate="CREATE_EDIT_LEADS"></span>
			</div>
		</div>
		<div fixed-container fixed-attr="{ orientation: 'BOTTOM' }">
			<div class="row">
				<form name="jobForm" class="screen-only">
					<div class="col-md-12 action-bar padding horz-margin">
						<button type="button" class="btn btn-primary" ng-click="submitLead()" ng-show="!!data.id" translate="MARK_STAGE_AS_COMPLETED"></button>
					</div>
					<div class="col-md-12 job-content padding">
						<div class="col-md-12"><span class="error" ng-bind="errormessage"></span></div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="LEAD_ID"></label>
								<input class="form-control" type="text" ng-model="data.id" disabled field-security="leads" field-security-data-id="data.id">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="TITLE"></label>
								<input class="form-control" type="text" ng-model="data.title" field-security="leads" field-security-data-id="data.id">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="ASSIGNED_TO"></label>
								<auto-complete ng-model="data.assigned_to" display-field="(firstname || '' )+ ' ' + (lastname || '')" value-field="id" search-url="api/user/getAllUsersAutoSuggest"></auto-complete>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="" translate="STATUS">Status</label>
								<input class="form-control" type="text" ng-model="data.status" disabled field-security="leads" field-security-data-id="data.id">
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showCompanyDetails = 'true'" ng-click="showCompanyDetails = !showCompanyDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="COMPANY_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showCompanyDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showCompanyDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showCompanyDetails">	
							<div class="col-md-12 vertical-padding">
								<button class="btn btn-primary" translate="SEARCH_COMPANY" ng-click="searchCompany()"></button>
							</div>			
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="company_name">Company Name</label>
									<input class="form-control" type="text" id="company_name" ng-model="data.lead_company.lead_company_name" field-security="leads" field-security-data-id="data.id" material-required material-upgrade ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="industry">Industry</label>
									<input class="form-control" type="text" id="industry" ng-model="data.lead_company.industry" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="industrydescription">Industry Description</label>
									<textarea class="form-control no-resize" type="text" id="industrydescription" ng-model="data.lead_company.description" field-security="leads" field-security-data-id="data.id" material-upgrade ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)"></textarea>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="contactperson">Contact Person</label>
									<input class="form-control" type="text" id="contactperson" ng-model="data.lead_company.contact_person" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="designation">Designation</label>
									<input class="form-control" type="text" id="designation" ng-model="data.lead_company.designation" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="phone">Phone</label>
									<input class="form-control" type="text" id="phone" ng-model="data.lead_company.phone1" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address1">Address Line1</label>
									<input class="form-control no-resize" type="text" id="address1" ng-model="data.lead_company.address_line1" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address2">Address Line2</label>
									<input class="form-control no-resize" type="text" id="address2" ng-model="data.lead_company.address_line2" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="address2">Address Line3</label>
									<input class="form-control no-resize" type="text" id="address2" ng-model="data.lead_company.address_line3" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="city">City</label>
									<input class="form-control no-resize" type="text" id="city" ng-model="data.lead_company.city" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="state">State</label>
									<input class="form-control no-resize" type="text" id="state" ng-model="data.lead_company.state" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="country">Country</label>
									<input class="form-control no-resize" type="text" id="country" ng-model="data.lead_company.country" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control no-resize" type="text" ng-model="company_lat_long" field-security="leads" field-security-data-id="data.id" ng-disabled="true">
										<span type="button" class="btn btn-primary input-group-addon" ng-click="locateOnMap()">Locate</span>
									</div>
								</div>
							</div>
		                    <div class="col-md-4">
								<div class="form-group">
									<label class="" for="mailid">MailID</label>
									<input class="form-control no-resize" type="text" id="mailid" ng-model="data.lead_company.mailid" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="website">Website</label>
									<input class="form-control no-resize" type="text" id="website" ng-model="data.lead_company.website" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showLeadsDetails = 'true'" ng-click="showLeadsDetails = !showLeadsDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="LEAD_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showLeadsDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showLeadsDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showLeadsDetails">		
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="reference">Reference</label>
									<input class="form-control no-resize" type="text" id="reference" ng-model="data.reference" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="source">Source</label>
									<input class="form-control no-resize" type="text" id="source" ng-model="data.source" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" for="additionalinfo">Additional Information</label>
									<input class="form-control no-resize" type="text" id="additionalinfo" ng-model="data.additionalinfo" field-security="leads" field-security-data-id="data.id" ng-disabled="data.id && (store.userInfo.role == 3 && data.assignedToUserId != store.userInfo.id)">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="" translate="CREATED_DATE"></label>
									<input class="form-control" type="text" ng-model="data.createdDate" field-security="leads" field-security-data-id="data.id" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showTaskDetails = 'true'" ng-click="showTaskDetails = !showTaskDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="OPEN_TASK_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showTaskDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showTaskDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showTaskDetails">	
							<div class="col-md-12 text-align-right lead-button-bar" ng-show="data.id">
								<button class="btn btn-primary" ng-click="openCreateTask()" translate="CREATE_TASK"></button>
							</div>
							<div class="col-md-12 colored-table">
								<table class="table">
									<thead>
										<tr>
											<th translate="TITLE"></th>
											<th translate="DUE_DATE"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in openTaskDetails" ng-click="openTaskDetail(task)" class="cursor-pointer">
											<td ng-bind="task.title"></td>
											<td ng-bind="task.due_date"></td>
										</tr>
										<tr ng-show="!openTaskDetails || openTaskDetails.length == 0"><td colspan="2" translate="NO_DATA_AVAILABLE"></td></tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12 cursor-pointer no-top-margin no-padding"  ng-init="showClosedTaskDetails = 'true'" ng-click="showClosedTaskDetails = !showClosedTaskDetails">
							<div class="section-header padding h4 background-app-tint-orange">
								<span translate="CLOSED_TASK_DETAIL"></span>
								<i class="glyphicon glyphicon-chevron-down pull-right"  ng-if="!showClosedTaskDetails"></i>
								<i class="glyphicon glyphicon-chevron-up pull-right"  ng-if="showClosedTaskDetails"></i>
							</div>
						</div>
						<div class="col-md-12 no-padding" ng-show="showClosedTaskDetails">	
							<div class="col-md-12 colored-table">
								<table class="table">
									<thead>
										<tr>
											<th translate="TITLE"></th>
											<th translate="DUE_DATE"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in closedTaskDetails" ng-click="openTaskDetail(task)" class="cursor-pointer">
											<td ng-bind="task.title"></td>
											<td ng-bind="task.due_date"></td>
										</tr>
										<tr ng-show="!closedTaskDetails || closedTaskDetails.length == 0"><td colspan="2" translate="NO_DATA_AVAILABLE"></td></tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12 text-align-right background-color-white lead-button-bar" fixed-bar>
							<button class="btn btn-primary" ng-click="goBack()" type="button">
							  Cancel
							</button>
							<button class="btn btn-primary" ng-click="saveLead()">
							  Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	